{% extends 'restaurants/base.html' %}

{% block title %}Вход{% endblock %}

{% block content %}
<div class="auth-card">
    <h2 class="section-title">Вход в аккаунт</h2>
    
    <!-- Добавьте блок для ошибок -->
    {% if form.non_field_errors %}
    <div class="alert alert-danger">
        {% for error in form.non_field_errors %}
        {{ error }}
        {% endfor %}
    </div>
    {% endif %}

    <form method="post" class="auth-form">
        {% csrf_token %}
        <div class="form-group">
            <label>Имя пользователя:</label>
            {{ form.username }}
        </div>
        <div class="form-group">
            <label>Пароль:</label>
            {{ form.password }}
        </div>
        <button type="submit" class="btn">Войти</button>
    </form>
    <p class="auth-link">Нет аккаунта? <a href="{% url 'register' %}">Зарегистрируйтесь</a></p>
</div>
{% endblock %}
